.app {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

@media (min-width: 1024px) {
  .app {
    grid-template-columns: 14.5% 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "nav header header"
    "nav main main"
    "footer footer footer";
  }

}